.header {
  background-color: #003580;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 100px 0px;
}

.headerContainer.listMode {
  margin: 20px 0px 0px 0px;
}

.headerList {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

.headerDesc {
  margin: 20px 0px;
}

.headerBtn {
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.buttonCon{
  position: absolute;
  bottom: -60px;
}

.button2{
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 10px;
  border-radius: 5px;
  width: 150px;
  display: none;
}

.headerSearch {
  height: 30px;
  background-color: white;
  border: 3px solid #febb02;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 5px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
}

.headerIcon {
  color: lightgray;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchItem2{
  /* margin-top: 30px; */
}

.headerSearchInput {
  border: none;
  outline: none;
}

.headerSearchText {
  color: lightgray;
  cursor: pointer;
}

.date {
  position: absolute;
  top: 50px;
  z-index: 2;
}

.options {
  z-index: 2;
  position: absolute;
  top: 50px;
  background-color: white;
  color: gray;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #0071c2;
  color: #0071c2;
  cursor: pointer;
  background-color: white;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}


@media screen and (max-width: 1194px){
  .headerContainer{
    max-width: 950px;
  }
  /* .header {
    padding-left: 55px;
    padding-right: 55px;
    transition: .2s; 
  }  */

  .headerSearch{
    max-width: 950px;
    
  }
    
} 

 @media screen and (max-width: 1080px){
    .headerContainer{
    max-width: 850px;
  }
  .headerSearch{
    max-width: 850px;
  }

} 

@media screen and (max-width: 990px){
  .headerContainer{
  max-width: 750px;
}
.headerList{
  font-size: 0.8rem;
}
.headerSearch{
  max-width: 750px;
  height: 20px;
}

.headerTitle{
  font-size: 1.5rem;
}

.headerDesc{
  font-size: 0.8rem;

}

} 

@media screen and (max-width: 860px){

  h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1rem;
}

  .headerContainer{
  max-width: 700px;
}
.headerSearch{
  max-width: 700px;
  height: 20px;
  /* font-size: 10px; */
}
.headerSearchText {
  font-size: 10px;
}

.headerSearchInput {
  font-size: 10px;
}

.headerBtn {
    font-size: 10px;
    padding: 5px;
}

} 

@media screen and (max-width: 780px){
  .headerContainer{
  max-width: 650px;
}
.headerSearch{
  max-width: 650px;
}

} 

@media screen and (max-width: 735px){

  .headerList {
    gap: 10px;
}
.headerContainer {
    max-width: 550px;
}

.headerSearch{
  max-width: 550px;
  height: 16px;
}
.rdrMonth {
  width: 18.667em !important; 
}
}

@media screen and (max-width: 640px){
  .headerContainer {
      max-width: 450px;
  }
  
  .headerSearch{
    max-width: 450px;
  }
  .taxis{
    display: none;
  }
  .rdrCalendarWrapper {
   
  }
  .rdrMonth {
    width: 15.667em !important; 
    height: 15.667em !important;
  }

  .rdrMonthAndYearPickers select {
    padding: 5px 5px 5px 5px !important;
    font-size: 10px !important;
  }
  .rdrDateDisplayItem input {
    height: 2em;
    line-height: 2em;
    font-size: 10px;
}
.rdrNextPrevButton {
    width: 20px;
    height: 20px;
}
.rdrWeekDay {
    font-size: 10px;
    line-height: 2em;
}

.button2{
  display: block;
}
}

  @media screen and (max-width: 540px){
    .headerContainer {
        max-width: 380px;
    }
    
    .headerSearch{
      max-width: 380px;
    }

    .headerListItem {
      gap: 5px;
  }

  .headerListItem.active {
    padding: 5px;
}
.headerList{
  font-size: 0.63rem;
}

.headerTitle{
  font-size: 1.2rem;
}

.headerDesc{
  font-size: 0.63rem;

}

.headerSearchText {
  font-size: 10px;
}

.headerSearchInput {
  font-size: 10px;
}

.headerBtn {
  font-size: 10px;
  padding: 5px;
}

.headerIcon{
  display: none;
}

} 

@media screen and (max-width: 450px){
  .headerContainer {
      max-width: 300px;
  }
  
  .headerSearch {
    max-width: 300px;
}

.headerSearchText {
  padding-right: 10px;
}

.headerSearchInput {
  padding-left: 10px;
}
}

