.listContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.listWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  gap: 20px;
}

.listSearch {
  flex: 1;
  background-color: #febb02;
  padding: 10px;
  border-radius: 10px;
  position: sticky;
  top: 10px;
  height: max-content;
}

.lsTitle{
  font-size: 20px;
  color: #555;
  margin-bottom: 10px;
}

.lsItem{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.lsItem>label{
  font-size: 12px;
}

.lsItem>input{
  height: 30px;
  border: none;
  padding: 5px;
}
.lsItem>span{
  height: 30px;
  padding: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.lsOptions{
  padding: 10px;
}

.lsOptionItem{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #555;
  font-size: 12px;
}

.lsOptionInput{
  width: 50px;
}

.listSearch>button{
  padding: 10px;
  background-color: #0071c2;
  color: white;
  border: none;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
}

.listResult {
  flex: 3;
}


/* meadia screen settings */

@media screen and (max-width: 1194px){
  .listWrapper {
      max-width: 950px;
  }

    
} 

@media screen and (max-width: 1080px){
  .listWrapper {
      max-width: 850px;
  }

    
} 

@media screen and (max-width: 990px){
  .listWrapper {
      max-width: 750px;
  }

  .siCheckButton{
    font-size: 0.6rem;
  }

  .siPrice {
    font-size: 16px !important;
}

.lsItem>input {
  height: 25px;
  }

  .lsItem>span {
    height: 25px;
    padding: 5px;
    font-size: 0.8rem;
  }
    
}

@media screen and (max-width: 860px){
  .listWrapper {
      max-width: 700px;
  }


    
} 

@media screen and (max-width: 780px){
  .listWrapper {
      max-width: 650px;
      .siTitle {
        font-size: 15px;
      }
  }
    
} 

@media screen and (max-width: 735px){
  .listWrapper {
      max-width: 550px;
  }

  .siImg {
    width: 120px;
    height: 185px;
}

.lsItem>input {
  font-size: 0.8rem;
}

.listSearch>button {
  font-size: 0.8rem;
}
} 

@media screen and (max-width: 640px){
  .listWrapper {
      max-width: 450px;
      gap: 10px;
  }

  .searchItem {
    display: grid !important;
    gap: 10px;
}

.siDesc {
    align-items: center;
}

.siCancelOpSubtitle {
    font-size: 9px;
}

.siDetailTexts {
   align-items: center;
}
}

@media screen and (max-width: 540px){
.listWrapper {
    max-width: 380px;
}

.listWrapper {
  display: grid;
}

}