.featured{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
  }
  
  .featuredItem{
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    height: 250px;
    flex:1
  }
  
  .featuredImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .featuredTitles{
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  @media screen and (max-width: 1194px){
    .featured{
      max-width: 950px;
    }
  
      
  } 

    @media screen and (max-width: 1080px){
    .featured{
      max-width: 850px;
    }
   
  } 

  @media screen and (max-width: 990px){
    .featured{
      max-width: 750px;
    }
   
  } 

  @media screen and (max-width: 860px){
    .featured{
      max-width: 700px;
    }
   
  } 

  @media screen and (max-width: 780px){
    .featured{
      max-width: 650px;
    }
   
  } 

  @media screen and (max-width: 735px){
    .featured{
      max-width: 550px;
      display: grid;
      grid-template-columns: repeat(3,1fr);
    }
   
  } 

    @media screen and (max-width: 640px){
    .featured{
      max-width: 450px;
      grid-template-columns: repeat(2,1fr);
    }
   
  } 

  @media screen and (max-width: 540px){
    .featured{
      max-width: 380px;
      grid-template-columns: repeat(1,1fr);
    }
   
  } 