.homeContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.homeTitle{
    width: 1024px;
    font-size: 20px;
}


/* meadia screen settings */

@media screen and (max-width: 1194px){
    .homeTitle{
        width: 950px;
    }
      
  } 

  @media screen and (max-width: 1080px){
    .homeTitle{
        width: 850px;
    }
      
  } 

  @media screen and (max-width: 990px){
    .homeTitle{
        width: 750px;
    }
      
  } 

  @media screen and (max-width: 860px){
    .homeTitle{
        width: 700px;
    }
      
  } 

  @media screen and (max-width: 780px){
    .homeTitle{
        width: 650px;
    }
      
  } 
  @media screen and (max-width: 735px){
    .homeTitle{
        width: 550px;
    }
      
  } 

  @media screen and (max-width: 640px){
    .homeTitle{
        width: 450px;
    }
      
  } 

  @media screen and (max-width: 540px){
    .homeTitle{
        width: 380px;
    }
      
  } 