.footer{
  width: 100%;
  width: 1024px;
  font-size: 15px;
}

.fLists{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.fList{
  list-style: none;
  padding: 0;
}

.fListItem{
  margin-bottom: 10px;
  color: #003580;
  cursor: pointer;
}

.fText{
  text-align: center;
}

/* meadia screen setting */

@media screen and (max-width: 1194px){

  .footer{
    max-width: 950px;
  }
  
}

 @media screen and (max-width: 1080px){
  .footer{
    max-width: 850px;
  }
 
} 

@media screen and (max-width: 990px){
  .footer{
    max-width: 750px;
    font-size: 0.8rem;
  }
 
}

@media screen and (max-width: 860px){
  .footer{
    max-width: 700px;
  }

  .fListItem{
    font-size: 12px;           
  }
 
}

@media screen and (max-width: 780px){
  .footer{
    max-width: 650px;
  }
}

@media screen and (max-width: 735px){
  .footer{
    max-width: 550px;
  }
}

/* @media screen and (max-width: 640px){
  .footer{
    max-width: 450px;
  }
} */