.navbar{
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
  }
  .navIcon {
    padding-left: 48px;
    padding-right: 30px;
    color: lightgray;
    margin: auto;
    display: none;
  }
  
  .navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo{
    font-weight: 500;
  }
  
  .navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #003580;
  }


  @media screen and (max-width: 1194px){
    .navContainer{
      max-width: 950px;
    }
    .navbar{
      padding: 0 50px;
    }
      
  } 

  @media screen and (max-width: 1080px){
    .navContainer{
    max-width: 850px;
  }

} 

@media screen and (max-width: 990px){
  .navContainer{
  max-width: 750px;
    font-size: 0.8rem;
   }
} 

@media screen and (max-width: 860px){
  .navContainer{
  max-width: 700px;
}

} 

@media screen and (max-width: 780px){
  .navContainer{
  max-width: 650px;
}

} 

@media screen and (max-width: 735px){
  .navContainer{
  max-width: 550px;
}

} 

@media screen and (max-width: 640px){
  .navContainer{
  max-width: 450px;
}
/* .navIcon {
  display:flex;
} */

}

@media screen and (max-width: 540px){
  .navContainer{
  max-width: 380px;
}
.navContainer {
  font-size: 0.63rem;
}
}